body {
  background: black;
}

.form {
  --text-color: #afafad;
  display: flex;
  flex-direction: column;
  width: 500px;
  justify-content: center;
}

.field {
  position: relative;
  margin: 4rem auto 1rem;
  border-bottom: 2px dashed var(--text-color);
}

.field__label {
  color: var(--text-color);
  font-size: 1.2rem;
}

.field__input {
  margin: 0;
  overflow: hidden;
  outline: none;
  width: 100%;
}

input[type="email"].field__input:valid {
  color: yellowgreen;
}

input[type="email"].field__input:invalid {
  color: orangered;
}
